
.kb-content h1 {
    font-size: 2.5em;
  }
  
  .kb-content h2 {
    font-size: 2em;
  }
  
  .kb-content blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  .kb-content blockquote p:first-child:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  .kb-content blockquote p:first-child::after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  .kb-content blockquote p {
    display: inline;
  }
  
  .kb-content table {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .kb-content table tbody tr:nth-of-type(2n + 1) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .kb-content table th,
  .kb-content table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .kb-content pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
    background: #faf8f0;
  }
  
  .kb-content code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
  }
  .kb-navigation .nav-item .nav-link {
    padding: 10px 23px;
    background-color: rgba(222, 222, 222, 0.3);
    min-width: 100px;
    font-weight: 400;
    text-align: left;
    color: #444;
  }
  .kb-navigation .nav-item .nav-link.active,
  .kb-navigation .nav-item .nav-link.active:focus,
  .kb-navigation .nav-item .nav-link.active:hover {
    background-color: #9a9a9a;
    color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  @media (max-width: 576px) {
    #kb_menu {
      display: none;
    }
    #kb_menu.show{
      display: block;
    }
  }
  