

.wrapper {
  padding-top: 30px;
 
}
.main {
  background-color: transparent;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 70vh;
}

.navbar .navbar-nav .nav-link:not(.btn) {
  font-size: 1em;
}

.navbar .navbar-brand {
  font-size: 1em;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }